.navbar {
    background-color: #ffffff;
    overflow: hidden;

}

.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.navbar a:hover {
    background-color: #ddd;
    color: black;

    
}

.navbar a.active {
    background-color: #ffffff;
    color: white;
}

#tulisan{
    margin-left: 700px;
    position: relative;
    margin-top: 30px;
}

.destination{
    margin-left: 30px;
}

.contact{
    margin-left: 30px;
}

.about{
    margin-left: 30px;
}

.logo{
    margin-left: 100px;
    width: 150px;
    position: absolute;
    height: 100px;

}
.container{
    margin-top: 25px;
}

.bandealit{
    width: 100%;
}

.airterjunn{
    width: 100%;
}
hr{
    margin-left: 10px;
    width: 1300px;
    margin-top: 30px;
    border-color: #ff3333;
}
#namapantai1{
    position: absolute;
    font-size: 60px;
    font-family: "Swis721 Hv BT";
    margin-left: 400px;
    margin-top: -35px;
}

#namapantai2 {
    position: absolute;
    color: dodgerblue;
    font-size: 60px;
    font-family: "Swis721 Hv BT";
    position:absolute;
    margin-top: -35px;
    margin-left: 660px;
}

#bandealit2{
    margin-top: -140px;
    margin-left: 80px;
}

.paragraf1{
    position: absolute;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: -90px;
    font-size: 50px;
    font-family: "Sitka Text"
}

.paragraf {
    position: absolute;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: -20px;
    font-size: 20px;
    font-family: "Sitka Text"
}

.paragraf2 {
    position: absolute;
    margin-left: 40px;
    margin-right: 5%;
    margin-top: 150px;
    font-size: 50px;
    font-family: "Sitka Text"
}

.paragraf3 {
    position: absolute;
    margin-left: 40px;
    margin-right: 520px;
    margin-top: 390px;
    font-size: 20px;
    font-family: "Sitka Text"
}

.paragraf4 {
    position: absolute;
    margin-left: 40px;
    margin-top: 880px;
    font-size: 50px;
    font-family: "Sitka Text"
}

.paragraf5 {
    position: absolute;
    margin-left: 40px;
    margin-right: 550px;
    margin-top: 630px;
    font-size: 20px;
    font-family: "Sitka Text"
}

#bandealit3 {
    margin-top: 350px;
    margin-right: 35px;
}

.paragraf6 {
    position: absolute;
    margin-left: 40px;
    margin-top: 170px;
    font-size: 50px;
    font-family: "Sitka Text"
}


.paragraf7 {
    position: absolute;
    margin-left: 40px;
    margin-right: 550px;
    margin-top: 270px;
    font-size: 20px;
    font-family: "Sitka Text"
}

.paragraf8 {
    position: absolute;
    margin-left: 40px;
    margin-top: 740px;
    font-size: 50px;   
    font-family: "Sitka Text"
}

.paragrafi {
    position: absolute;
    margin-left: 40px;
    margin-top: 830px;
    font-size: 30px;
    font-family: "Sitka Text"
}


.paragrafj {
    position: absolute;
    margin-left: 40px;
    margin-right: 560px;
    margin-top: 880px;
    font-size: 20px;
    font-family: "Sitka Text"
}


.paragrafk {
    position: absolute;
    margin-left: 40px;
    margin-top: 1000px;
    font-size: 30px;
    font-family: "Sitka Text"
}


.paragrafl {
    position: absolute;
    margin-left: 40px;
    margin-right: 560px;
    margin-top: 1050px;
    font-size: 20px;
    font-family: "Sitka Text"
}

.paragrafm {
    position: absolute;
    margin-left: 40px;
    margin-top: 1170px;
    font-size: 30px;
    font-family: "Sitka Text"
}


.paragrafn {
    position: absolute;
    margin-left: 40px;
    margin-right: 560px;
    margin-top: 1225px;
    font-size: 20px;
    font-family: "Sitka Text"
}

.paragrafo {
    position: absolute;
    margin-left: 40px;
    margin-top: 1370px;
    font-size: 30px;
    font-family: "Sitka Text"
}


.paragrafp {
    position: absolute;
    margin-left: 40px;
    margin-right: 560px;
    margin-top: 1425px;
    font-size: 20px;
    font-family: "Sitka Text"
}

.paragrafq {
    position: absolute;
    margin-left: 40px;
    margin-top: 1545px;
    font-size: 30px;
    font-family: "Sitka Text"
}

.paragrafr {
    position: absolute;
    margin-left: 40px;
    margin-right: 560px;
    margin-top: 1600px;
    font-size: 20px;
    font-family: "Sitka Text"
}

.paragrafs {
    position: absolute;
    margin-left: 40px;
    margin-top: 1720px;
    font-size: 30px;
    font-family: "Sitka Text"
}


.paragraft {
    position: absolute;
    margin-left: 40px;
    margin-right: 560px;
    margin-top: 1775px;
    font-size: 20px;
    font-family: "Sitka Text"
}




